NODE_ENV=
APP_ENV=
PORT=
NEXT_PUBLIC_APP_ID=
NEXT_PUBLIC_URL_AWS_OPERATION=
NEXT_PUBLIC_URL_WORKFORCE=
NEXT_PUBLIC_URL_UAD_NEST=
NEXT_PUBLIC_URL_CATALOG_CORE=
NEXT_PUBLIC_URL_BACKOFFICE=
NEXT_PUBLIC_URL_ATS=
NEXT_PUBLIC_URL_AWS_S3_PARENT_DIRECTORY=
NEXT_PUBLIC_URL_AWS_S3_CHILD_DIRECTORY_MEDICAL_RECORD=